html{
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(87,8,153);
    background: linear-gradient(45deg, rgba(87,8,153,1) 0%, rgba(0,0,139,1) 50%, rgba(8,84,153,1) 100%);
    color: white;
}
.center{
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
.title{
    text-align: center;
}
input{
    border: 1px solid white;
    background-color: transparent;
    color: white;
    padding: 10px;
    border-radius: 10px;
    outline: none;
}
input::placeholder{
    color: #dddddd;
}
input[type='button']:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
.gamearea{
    display: none;
}
