---
import Layout from "../../layouts/Layout.astro";
import { getEntry } from "astro:content";

const { slug } = Astro.params;

const entry = await getEntry("vnzdn", slug);
if (typeof entry === "undefined") {
    return new Response(null, { status: 404 });
}

const { Content } = await entry.render();
---

<Layout title={`No zero days November - Day ${slug}`}>
    <main class="p-2">
        <Content />
    </main>
</Layout>

<style>
    @tailwind base;

    @layer base {
        main :global(h1) {
            @apply my-[0.67em] text-[2em] font-bold;
        }

        main :global(h2) {
            @apply my-[0.83em] text-[1.5em] font-bold;
        }

        main :global(h3) {
            @apply my-[1em] text-[1.17em] font-bold;
        }

        main :global(p) {
            @apply my-[1em];
        }

        main :global(a) {
            @apply text-blue-400 hover:underline;
        }

        main :global(ul) {
            @apply my-[1em] list-disc pl-[40px];
        }
    }
</style>
