html{
	font-family: Arial, Helvetica, sans-serif;
}
h1{
	font-weight: 100;
}
input{
	display: block;
	margin-bottom: 30px;
}
input[type='button']{
	height: fit-content;
	width: fit-content;
	padding: 10px 50px;
}
/**@media screen and (orientation: landscape) {
	html {
		transform: rotate(-90deg);
		transform-origin: left top;
		width: 100vh;
		height: 100vw;
		overflow-x: hidden;
		position: absolute;
		top: 100%;
		left: 0;
	}
}**/
