---
import Layout from "@/layouts/BaseLayout.astro";
import { getCollection, type CollectionEntry } from "astro:content";

interface Props {
    article: CollectionEntry<"articles">;
}

export async function getStaticPaths() {
    const articles = await getCollection("articles");

    return articles.map((article) => {
        return { params: { article: article.slug }, props: { article } };
    });
}

const { article } = Astro.props;
const { Content } = await article.render();
---

<Layout title={article.data.title}>
    <main>
        <Content />
    </main>
</Layout>
