---
import Layout from "@/layouts/BaseLayout.astro";
import { getCollection, CollectionEntry } from "astro:content";

interface Props {
    article: CollectionEntry<"articles">;
}

export async function getStaticPaths() {
    const articles = await getCollection("articles");

    return articles.map((article) => {
        return { params: { article: article.slug }, props: { article } };
    });
}

const { article } = Astro.props;
const { Content } = await article.render();

const schema = {
    "@context": "https://schema.org",
    "@type": "Article",
    headline: article.data.title,
    datePublished: article.data.publish.toISOString(),
    dateModified: article.data.lastmod.toISOString(),
    author: {
        "@type": "Person",
        name: "Aden Pun",
        url: "https://adenpun.ml/",
    },
};
---

<Layout title={article.data.title}>
    <script
        slot="custom-head"
        type="application/ld+json"
        set:html={JSON.stringify(schema)}
    ></script>
    <main>
        <Content />
    </main>
</Layout>

<style lang="scss">
    main {
        margin: 0px 25vw;
    }
</style>
