---
import ArticleList from "@/components/ArticleList";
import Layout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
const articles = await getCollection("articles");
---

<Layout title="Articles" description="Aden Pun's articles">
    <main>
        <h1>My blogs/article</h1>
        <ArticleList
            articles={articles.map((a) => ({ ...a.data, slug: a.slug }))}
            client:load
        />
    </main>
</Layout>

<style lang="scss">
    main :global(a) {
        display: block;
        padding: 10px;

        &:hover {
            background-color: #333333;
        }
    }
</style>
