html{
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: green;
}
body::after{
    content: "_";
    animation: twinkling 1s infinite 1s;
}
@keyframes twinkling{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
