---
import { CategoryList } from "./_components/Category/List";
import { MonthChanger } from "./_components/MonthChanger";
import Layout from "./_layouts/Layout.astro";
---

<Layout>
    <main>
        <MonthChanger client:only />
        <CategoryList client:only />
    </main>
</Layout>
