---
import { CategoryList } from "./_components/Categories/CategoryList";
import Layout from "./_layouts/Layout.astro";
---

<Layout>
    <main>
        <CategoryList client:only />
    </main>
</Layout>
