---
import Layout from "./_layouts/Layout.astro";
import { Push } from "./_components/Push";
import { Pull } from "./_components/Pull";
---

<Layout>
    <div>
        <Pull client:only />
        <Push client:only />
    </div>
    Welcome to this useless budget thing
</Layout>
