---
import Layout from "./_layouts/Layout.astro";
import { Push } from "./_components/Push";
import { Counter } from "./_components/Counter";
---

<Layout>
    <div>
        <Push client:only />
    </div>
    Welcome to this useless budget thing
</Layout>
