html{
	font-family: Arial, Helvetica, sans-serif;
}
body{
	margin: 0;
}
div{
	display: inline-block;
}
a{
	color: blue;
}
.navbar{
	padding: 10px;
	width: 100vw;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: fixed;
	top: 0;
	left: 0;
	background-color: white;
}
.navbar .nav-title{
	margin: 0;
	text-decoration: none;
	background: -webkit-linear-gradient(90deg, #001EFF, #D600FF);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: pointer;
	transition: all 250ms;
}
.navbar .nav-title:hover{
	background: -webkit-linear-gradient(90deg, #00B8FF, #BD00FF);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.navbar .nav-item{
	margin-left: 20px;
	color: black;
	cursor: pointer;
	transition: all 250ms;
	text-decoration: none;
}
.navbar .nav-item:hover{
	color: #001EFF;
}
.content{
	margin-top: 60px;
	padding: 0px 10px;
}
.h1{
	font-size: 2em;
}
.h2{
	font-size: 1.5em;
}
.h3{
	font-size: 1.17em;
}
