@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");

@layer base {
    * {
        @apply font-mono text-black dark:text-white;
    }
    a {
        @apply underline hover:no-underline;
    }
    h1 {
        @apply my-5 text-3xl;
    }
    h2 {
        @apply my-4 text-2xl;
    }
}

input {
    background-color: #333333;
    border: none;
    border-radius: 5px;
    color: white;
    outline: none;
    padding: 10px;
}

input::placeholder {
    color: #aaaaaa;
}

select {
    background-color: #333333;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    outline: none;
    padding: 10px;
}
