@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");

* {
    font-family: "Noto Sans TC", Arial, Helvetica, sans-serif;
}

body {
    background-color: #111111;
    color: #ffffff;
    margin: 0;
}

a {
    color: #ffff00;
    text-decoration: none;
    transition: 10px;

    &:hover {
        color: #ffffff;
    }
}

input {
    background-color: #333333;
    border: none;
    border-radius: 5px;
    color: white;
    outline: none;
    padding: 10px;
}

input::placeholder {
    color: #aaaaaa;
}

button {
    background-color: #333333;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    padding: 10px;

    cursor: pointer;

    &:hover {
        background-color: #777777;
    }

    &:active {
        background-color: #111111;
    }
}

select {
    background-color: #333333;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    outline: none;
    padding: 10px;
}
