#list{
    margin: 0;
    margin-top: 5px;
}
#list:nth-of-type(1){
    margin-top: 25px;
}
#config{
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: #00000066;
}
#config-content{
    background: white;
    margin: 5vh auto 15vh auto;
    padding: 15px;
    width: 80vw;
    text-align: center;
}
#config-content h1{
    margin-bottom: 10px;
}
.jump-animation{
    animation-name: jump;
    animation-duration: 1s;
}
.jump-out-animation{
    animation-name: jump-out;
    animation-duration: 0.5s;
    display: none;
}
@keyframes jump{
    0%{
        transform: scale(0);
    }
    75%{
        transform: scale(1.25);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes jump-out{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
}