#list{
    margin: 0;
    margin-top: 5px;
}
#list:nth-of-type(1){
    margin-top: 25px;
}
#config{
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: #00000066;
}
#config-content{
    background: white;
    margin: 5vh auto 15vh auto;
    padding: 15px;
    width: 80vw;
    text-align: center;
}
#config-content h1{
    margin-bottom: 10px;
}
.times{
    right: 10vw;
    top: 5vh;
    position: absolute;
    font-size: 30px;
    cursor: pointer;
}
.times:hover{
    color: red;
}