body{
  overflow-x: hidden;
  margin: 0;
}
section{
  height: 250vh;
}
#myStickeyElement{
  position: fixed;
  animation: rotate 1s linear;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -10s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
};
}
@keyframes rotate {
  0%{
    right: -100;
    opacity: 0;
  }
  100%{
    opacity: 1;
    right: 10;
  }
}