body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
::selection{
    color: blue;
    background-color: aqua;
}
a{
    color: #0000ff;
    text-decoration: none;
}
#content{
    padding: 40px 0px 0px 10px;
}
iframe{
    border: none;
}
#header-iframe{
    position: fixed;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
    border: none;
    height: 50px;
    width: 100%;
}
#nav{
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
    background-color: white;
    display: block;
    padding: 10px 25px 10px 25px;
    position: fixed;
    top: 0;
    left: 0;
    height: 30px;
    width: 100%;
    z-index: 10;
}
#nav-title{
    font-size: 25px;
    margin-right: 25px;
    text-decoration: none;
    color: black;
}
#nav-item{
    margin-right: 25px;
}
#nav-sm{
    padding: 5px 0px 5px 0px;
    display: none;
    margin: 0 auto;
}
#nav-sm h1{
    margin: 0;
    text-align: center;
}
#footer-iframe{
    position: fixed;
    border: none;
    width: 100%;
}
#footer{
    text-align: center;
    display: block;
}
#footer-item::after{
    content: "";
    clear: both;
    display: table;
}
#footer-item{
    padding-left: 10px;
    width: 48%;
    text-align: left;
    margin: 0;
    display: inline-block;
    float: left;
    width: 33.33%;
    padding: 50px;
}
#footer #title{
    font-size: 20px;
    margin-bottom: 100px;
}
#footer-link{
    margin-bottom: 100px;
}
#footer-sm{
    padding: 5px 0px 5px 0px;
    display: none;
    margin: 0 auto;
}
#bottom-nav-iframe{
    position: fixed;
    border: none;
    bottom: 0;
    height: 50px;
    width: 100%;
    overflow: hidden;
    background-color: #333333;
    display: none;
}
#bottom-nav-item{
    width: 49%;
    height: 100%;
    margin: 0;
    display: inline-flex;
    text-align: center;
    align-items:center;
    justify-content:center;
    color: white;
}
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
}
@media only screen and (max-width: 700px){
    #nav{
        display: none;
    }
    #nav-sm{
        display: block;
    }
    #footer{
        display: none;
    }
    #footer-sm{
        display: block;
    }
    #bottom-nav-iframe{
        display: block;
    }
}