:root {
    --main-color: red;
    --button-color: red;
    --text-color: black;
    --text-dark-color: white;
    --link-color: #0000ff;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
::selection{
    color: blue;
    background-color: aqua;
}
a{
    color: var(--link-color);
    text-decoration: none;
}
a:hover{
    cursor: pointer;
}
span{
    display: inline;
}
.center{
    text-align: center;
}
textarea{
    resize: none;
    width: 50vw;
    height: 50vh;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    border: 1px solid black;
}
button, input[type='button'], a#btn{
    background-color: red;
    border: none;
    border-radius: 100px;
    font-size: 20px;
    width: 150px;
    height: 50px;
    color: white;
    outline: none;
}
button:hover, input[type='button']:hover, a#btn:hover{
    cursor: pointer;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}
#content{
    padding: 60px 0px 0px 10px;
    min-height: 100%;
    margin-bottom: -50px;
}
iframe{
    border: none;
    margin: 0;
}
#header-iframe{
    position: fixed;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
    border: none;
    height: 50px;
    width: 100%;
    z-index: 10;
}
#nav{
    background-color: white;
    display: block;
    padding: 10px 25px 10px 25px;
    position: fixed;
    top: 0;
    left: 0;
    height: 30px;
    width: 100%;
}
#nav-title{
    font-size: 25px;
    margin-right: 25px;
    text-decoration: none;
    color: var(--text-color);
}
#nav-item{
    margin-right: 25px;
}
#nav-sm{
    padding: 5px 0px 5px 0px;
    display: none;
    margin: 0 auto;
    background-color: white;
}
#nav-sm h1{
    text-align: center;
}
#footer-iframe{
    border: none;
    width: 100%;
    display: block;
}
#footer{
    text-align: center;
    display: block;
    height: fit-content;
}
.push{
    height: 50vh;
    display: block;
}
#footer-item{
    width: calc(100vw / 3);
    display: inline-block;
}
#footer #title{
    font-size: 20px;
    margin-bottom: 100px;
}
#footer-link{
    margin-bottom: 100px;
}
#footer-sm{
    padding: 5px 0px 5px 0px;
    display: none;
    margin: 0 auto;
}
#bottom-nav-iframe{
    position: fixed;
    border: none;
    bottom: 0;
    height: 50px;
    width: 100%;
    overflow: hidden;
    background-color: white;
    display: none;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030, 0 6px 20px 0 #00000030 , 0 6px 20px 0 #00000030;
}
#bottom-nav-item{
    width: 49%;
    height: 50%;
    display: inline-flex;
    text-align: center;
    align-items:center;
    justify-content:center;
    float: left;
    padding: 12px 0;
    font-size: 25px;
}
#bottom-nav-iframe{
    width: 100%;
    overflow: auto;
}
#bottom-nav-item:hover{
    background-color: #ff0000;
    color: white;
}
#faq-q{
    margin-top: 50px;
}
#faq-q #q{
    margin-bottom: 20px;
}
#github-icon{
    position: absolute;
    right: 64px;
    height: 32px;
    width: 32px;
}
.mobile-see{
    display: none;
}
.computer-see{
    display: block;
}
@media only screen and (max-width: 700px){
    #nav{
        display: none;
    }
    #nav-sm{
        display: block;
    }
    #footer{
        display: none;
    }
    #footer-sm{
        display: none;
    }
    #bottom-nav-iframe{
        display: block;
    }
    .mobile-see{
        display: block;
    }
    .computer-see{
        display: none;
    }
}