---
import Layout from "@/layouts/BaseLayout.astro";
---

<Layout title="Home" description="My personal website!" keywords={["website"]}>
    <p>This is my personal website! (under construction)</p>
</Layout>
