<p>This site is under construction again.</p>
<img src="https://media1.tenor.com/m/oVqjhn9WWV0AAAAd/cool-fun.gif" alt="cool gif" />
<style>
  p {
    text-align: center;
  }

  img {
    display: block;
    margin: 0 auto;
  }

  body {
    background-color: black;
    color: white;
  }
</style>
