/*All Element CSS*/
html{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightblue;
    user-select: none;
}
body{
    margin: 0;
    position: fixed;
    cursor: auto;
    width: 100%;
    height: 100%;
}
div{
    display: inline-block;
}
/*Classes CSS*/
/*nav*/
.nav{
    position: absolute;
    width: 100%;
    background-color: #0000ff55;
    height: 30px;
}
.nav-item{
    height: 30px;
    padding: 0px 10px;
}
.nav-item .text{
    top: 50%;
    position: relative;
    transform: translate(0%, -50%);
}
.allapp{
    width: fit-content;
}
.aden{
    cursor: pointer;
}
.time{
    position: absolute;
    right: 0;
}
/*Desktop*/
.desktop{
    top: 30px;
    height: calc(100% - 30px);
    width: 100%;
    position: absolute;
}
.appicon{
    width: 100px;
    text-align: center;
    padding: 10px;
}
.appicon .img img{
    max-width: 80px;
}
.appicon.focus{
    background-color: #0000ff11;
}
.appicon.hover{
    background-color: #0000ff11;
}
.desktopbox{
    position: absolute;
    z-index: 40;
    background-color: #7390EE55;
}
/*Window*/
.window{
    border: 1px solid black;
    min-width: 100px;
    background-color: white;
    opacity: 0.7;
    color: black;
    position: absolute;
}
.window.focus{
    z-index: 50;
    opacity: 1;
}
.window .title{
    background-color: lightgrey;
    width: 100%;
    cursor: default;
}
.window .title .close{
    position: absolute;
    right: 0;
    display: inline-block;
    cursor: default;
}
.window .title .close:hover{
    background-color: red;
    color: white;
}
.window .content{
    padding: 10px;
    width: calc(100% - 20px);
    height: 100%;
    user-select: text;
}
