body{
    margin: 0;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
}
div{
    display: inline-block;
}
*[data-type='scene']{
    display: none;
}
.translateX{
    transform: translateX(-50%);
}
.translateY{
    transform: translateY(-50%);
}
