html{
    background-color: #000040;
    color: #0D8CFF;
    user-select: none;
}
body{
    margin: 0;
    padding: 8px;
}
a{
    color: #0D8CFF;
}

.box{
    border: 1px solid #0D8CFF;
    border-radius: 10px;
    background-color: #0D8CFF55;
    padding: 10px;
}

.red{
    background-color: #ff0000a8;
    color: #ffffffb6;
    border-color: #ff5959d2;
}

