body{
    margin: 0;
}
div{
    display: inline-block;
}
.gamearea{
    width: 100%;
    height: 100%;
    background-color: black;
}
.bar{
    background-color: greenyellow;
    height: 50%;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}
.rightbar{
    right: 10%;
}
.leftbar{
    left: 10%;
}
.ball{
    border-radius: 50%;
    position: absolute;
    background-color: red;
    font-size: 2em;
    color: white;
    inset: 50%;
}
.ball *{
    border-radius: 50%;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
}
.ball .text{
}
.ballmark{
    border-radius: 50%;
    position: absolute;
    background-color: red;
}
