html{
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(87,8,153);
    background: linear-gradient(45deg, rgba(87,8,153,1) 0%, rgba(0,0,139,1) 50%, rgba(8,84,153,1) 100%);
    color: white;
}
.title{
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    position: absolute;
    text-align: center;
}
.gamearea{
    display: none;
}
input[type='button'], button{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    padding: 10px;
    outline: none;
    cursor: pointer;
}
input[type='button']:hover, button:hover{
    background-color: white;
    color: black;
}
button:disabled{
    border-color: #ffffffaa;
    color: #ffffffaa;
}
.option{
    display: grid;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-gap: 10px;
    position: absolute;
    width: 50%;
    grid-template-columns: auto auto;
}
.select{
    background-color: white;
    color: black;
}
.trueans{
    background-color: green;
    color: white;
}
.wrongans{
    background-color: red;
    color: white;
}
