---
interface Props {
    pages: Page[];
}

interface Page {
    name: string;
    link: string;
    subpages?: Page[];
}

const { pages } = Astro.props;
---

<nav class="bg-black p-5 dark:bg-white">
    {
        pages.map((value) => {
            return (
                <a class="p-2 text-white dark:text-black" href={value.link}>{value.name}</a>
            );
        })
    }
</nav>
