---
interface Props {
    pages: Page[];
}

interface Page {
    name: string;
    link: string;
    subpages?: Page[];
}

const { pages } = Astro.props;
---

<nav>
    {
        pages.map((value) => {
            return <a href={value.link}>{value.name}</a>;
        })
    }
</nav>

<style lang="scss">
    nav {
        background-color: #000;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 15px;
    }
    nav > a {
        margin-right: 10px;
    }
</style>
