.btn{
    padding: 10px;
    cursor: pointer;
    border: 1px solid black;
    color: black;
}
.btn.disable{
    border-color: grey;
    color: grey;
    cursor: not-allowed;
}
input.password{
    -webkit-text-security: disc;
}
