/*Top*/
html{
	background-color: black;
	color: white;
	user-select: none;
	font-family: cursive;
	font-size: 1.5em;
	position: fixed;
}
body{
	margin: 0;
}
/*Div*/
div{
	display: inline-block;
}
div.page{
	height: 100vh;
	width: 100vw;
	display: none;
}
div.page.show{
	display: inline-block;
}
/*Select Tag*/
select{
	background-color: black;
	border: none;
	color: white;
	font-size: 1em;
	outline: none;
	font-family: cursive;
	-webkit-appearance: none;
	cursor: pointer;
}
/*Select*/
.select{
	cursor: pointer;
	display: block;
	width: fit-content;
}
.select:hover{
	color: yellow;
}
/*Home Page*/
.page.home .homepagemain{
	position: absolute;
	top: 10%;
	left: 10%;
}
.page.home h1{
	margin: 0;
	font-size: 2.5em;
}
/*Plot Display Page*/
.page.plotdisplay{
	white-space: pre-wrap;
}
/*Speak*/
.speakcontainer{
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translate(-50%, 0%);
	z-index: 10;
	padding: 5px;
	background-color: #000000aa;
}
/*Character*/
.character{
	position: absolute;
	display: none;
}
.character.show{
	display: inline-block;
}
.character img{
	max-width: 50px;
	max-height: 50px;
}
