@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");

body {
    background-color: black;
    color: white;
    font-family: "Noto Sans TC", Arial, Helvetica, sans-serif;
    margin: 0;
}
