---
interface Props {
    title: string;
    description?: string;
    keywords?: string[];
}

const { title, description, keywords } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        {
            typeof description !== "undefined" ? (
                <meta name="description" content={description ?? ""} />
            ) : undefined
        }
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
        {
            typeof keywords !== "undefined" ? (
                <meta name="keywords" content={keywords.join(",")} />
            ) : undefined
        }

        <title>{title}</title>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="sitemap" href="/sitemap-index.xml" />
    </head>
    <body
        ><slot />
        <footer>
            built with {Astro.generator}
        </footer></body
    >
</html>

<style lang="scss" is:global>
    @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");

    * {
        font-family: "Noto Sans TC", Arial, Helvetica, sans-serif;
    }

    body {
        background-color: #000000;
        color: #ffffff;
    }
</style>
