@font-face{
    font-family: 'unifont';
    src: url(font/unifont-13.0.04.ttf);
}
html{
    background-color: black;
    text-align: center;
    color: white;
    user-select: none;
    font-family: 'unifont';
    font-weight: 900;
}
div{
    display: inline-block;
}
h1{
    font-family: 'unifont';
    font-weight: 900;
}
input{
    outline: none;
    background-color: #00000000;
    border: none;
    border-bottom: 1px solid black;
    font-family: 'unifont';
    font-weight: 900;
}
.form{
    text-align: left;
    background-color: white;
    color: black;
    padding: 10px;
}
.form *{
    margin: 10px;
}
.form *:not(h2){
    font-size: 1em;
}
.form h2{
    text-align: center;
    font-family: 'unifont';
    font-weight: 900;
}
.signcontainer{
    width: 100%;
    text-align: right;
    margin: 0;
}
input.password{
    -webkit-text-security: disc;
}
.btn{
    background-color: black;
    color: white;
    padding: 10px;
    cursor: pointer;
}
.btn.disable{
    background-color: grey;
    cursor: not-allowed;
}
.cornertips{
    background-color: white;
    color: black;
    padding: 20px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
}
.speakcontainer{
    z-index: 100;
    position: absolute;
    padding: 25px;
    bottom: 5%;
    left: 50%;
    font-size: 30px;
    border: 5px solid white;
    width: 80%;
    background-color: black;
    height: 15%;
    transform: translate(-50%, 0%);
    display: none;
}

h1,h2,h3,h4,h5,h6,*{
}
