@font-face{
	font-family: 'unifont';
	src: url(font/unifont-13.0.04.ttf);
}
html{
	font-family: 'unifont';
	overflow: hidden;
	user-select: none;
	color: white;
	background-color: #000000;
	font-weight: 600;
}
body{
	margin: 0;
	text-align: center;
}
input{
	font-family: 'unifont';
	outline: none;
}
input[type='button'], label{
	cursor: pointer;
}
.ap43{
	position: relative;
	height: 100%;
	padding-left: 75%;
}
.ap43co{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
div{
	display: inline-block;
}
a{
	color: blue;
}
.homepage{
	background-color: #000000;
	width: 100%;
	height: 100%;
	position: relative;
}
.homepage h1{
	position: absolute;
	left: 50%;
	top: 10%;
	transform: translate(-50%, 0%);
	padding: 10px;
	text-align: center;
	width: 100%;
}
.homepage .update{
	/*
	position: absolute;
	right: 25%;
	top: 25%;
	transform: translate(-50%, 0%);
	transform: rotateZ(25deg);
	*/
	padding: 10px;
	animation: twinkling 3s infinite;
	color: yellow;
	font-size: 20px;
	font-weight: 100;
	display: block;
}
.homepage label{
	position: absolute;
	right: 0;
	top: 0;
}
.startremind{
	font-size: 20px;
	position: absolute;
	left: 50%;
	bottom: 5%;
	transform: translate(-50%, 0%);
	padding: 10px;
	animation: twinkling 2s infinite;
}
.startbtn{
	position: absolute;
	right: 5%;
	border: none;
	top: 5%;
	transform: translate(-50%, -50%);
	background-color: #00000000;
	color: white;
}
.entityselect{
	background-color: #000000;
	height: 100%;
	width: 100%;
	display: none;
}
.entity{
	display: inline-block;
	position: absolute;
	z-index: 1;
}
.entity.main{
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.entityselect .entity img{
	cursor: pointer;
	max-width: 55px;
}
.entity img{
	max-width: 25px;
	position: absolute;
}
.entity div.weapon{
	translate: 15px 5px;
	transform-origin: left center;
}
.warrior.entity{
	left: 50%;
	top: 50px;
	transform: translate(-50%, 0%);
}
.magician.entity{
	left: 30%;
	top: 50px;
	transform: translate(-50%, 0%);
}
.entityinfo{
	display: none;
	height: 100%;
	width: 100%;
	position: relative;
	background-color: black;
}
.entityinfo > h1{
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	top: 10%;
}
.entityinfo .info{
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.entityinfo .power{
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.entityinfo > img{
	max-width: 50px;
}
.entityinfo > input{
	position: absolute;
	bottom: 1%;
	left: 50%;
	color: white;
	background-color: #F2B024;
	border: 5px solid #FCDA00;
	font-size: 20px;
	padding: 10px 20px;
	border-radius: 10px;
	transform: translate(-50%, -50%);
}
.generateoption{
	width: 100%;
	height: 100%;
	display: none;
}
.gamearea{
	display: none;
	width: 100%;
	height: 100%;
}
/*.fightarea{
	display: none;
}*/
.warning{
	display: none;
	background-color: #000000;
	height: 100%;
	width: 100%;
}
.scenecontainer{
	width: 100%;
	height: 100%;
	position: relative;
}
.scene{
	width: fit-content;
	height: fit-content;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
}
.blockgroup{
	display: inline-grid;
}
.block{
	display: inline-block;
}
.block img{
	max-width: 25px;
}
.entityinfoinfight{
	left: 0;
	top: 0;
	position: absolute;
	z-index: 1;
	display: none;
	background-color: orange;
	padding: 10px;
}
.hp, .mp{
	display: block;
}
.hpprogress{
	border: 1px dashed white;
	width: 100px;
	background-color: grey;
}
.hpprogress .bar{
	width: 100%;
	background-color: red;
	text-align: center;
	transition: width 0.5s;
}
.mpprogress{
	border: 1px dashed white;
	width: 100px;
	background-color: grey;
}
.mpprogress .bar{
	width: 100%;
	background-color: blue;
	text-align: center;
	transition: width 0.5s;
}
.weapon{
	position: absolute;
}
.gunbullet{
	position: absolute;
}
.gunbullet img{
	max-width: 25px;
}
input[type='file']{
	display: none;
}
.homepage .push{
	width: 100%;
	height: 100%;
}
.homepage .mode{
	position: absolute;
	width: 100%;
	height: 100%;
	vertical-align: bottom;
	position: relative;
}
.homepage .mode .container{
	bottom: -100px;
	position: absolute;
	width: 100%;
	transition: all 1s;
	text-align: center;
	display: none;
}
.homepage .mode .container input{
	background-color: #00000000;
	border: none;
	color: white;
	font-size: 20px;
}
.homepagesecret input{
	position: absolute;
	background-color: #00000000;
	border: none;
	color: white;
}
.homepage .settingpagebtn{
	left: 0;
	top: 0;
}
.homepage .uploadpagebtn{
	right: 0;
	top: 0;
}
.uploadpage{
	display: none;
}
.backtohomepage{
	background-color: #00000000;
	color: white;
	border: none;
}
.settingpage{
	display: none;
}
.delete{
	color: red;
	cursor: pointer;
}
.mobilecontrol{
	position: absolute;
	bottom: 0;
	width: 100%;
	display: none;
	z-index: 100;
}
.homepagesecret{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.bottombar{
	width: 100%;
	height: 100%;
	position: relative;
	text-align: center;
	z-index: 1;
	display: none;
}
.bottombar .tips{
	vertical-align: super;
}
.bottombar .weapon{
	bottom: 0;
	position: absolute;
	text-align: center;
	vertical-align: text-bottom;
	transform-origin: center center;
	transform: translate(-50%, -50%);
}
.bottombar .weapon .box{
	border: 2.5px solid white;
	margin: 0px 10px;
}
.bottombar .weapon .box .after{
	background-color: blue;
	position: absolute;
	top: -10px;
	border-radius: 100px;
	padding: 4px;
}
.bottombar .weapon .box:nth-of-type(2){
	border: 5px solid white;
	margin: 0px 10px;
}
.bottombar .weapon .box img{
	min-height: 25px;
	max-height: 25px;
}
.thanksbtn{
	position: absolute;
	bottom: 0;
	right: 0;
}
.thanksname{
	position: absolute;
}
.diedpage{
	display: none;
	position: absolute;
	left: 0;
	top: 0;
}
.cmdgenbtn{
	position: absolute;
	left: 0;
	top: 0;
	background-color: black;
	color: white;
	border: none;
}
.signoutbtn{
	position: absolute;
	right: 0;
	top: 0;
	background-color: black;
	color: white;
	border: none;
}
.cornertips{
	background-color: white;
	color: black;
	padding: 20px;
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 100;
}
.shop{
	display: none;
	width: 100%;
	height: 100%;
}
.shop .item-list{
	width: 50%;
	height: 90%;
	position: relative;
	top: 50%;
	right: -45%;
	transform: translate(-50%, -50%);
	overflow-y: scroll;
	background-color: wheat;
}
.shop .item-list .item{
	width: 90%;
	padding: 10px;
	background-color: white;
	color: #2998cf;
	margin: 10px 0px;
}
.shop .item-list .item div{
	font-weight: bold;
	display: block;
}
.shop .item-list .item input{
	background-color: #F2B024;
	border: 5px solid #FCDA00;
	border-radius: 10px;
	color: white;
	display: block;
}
.item-list::-webkit-scrollbar{
	width: 10px;
}
.item-list::-webkit-scrollbar-track{
	background: #f1f1f1;
}
.item-list::-webkit-scrollbar-thumb{
	background: #888;
}
.item-list::-webkit-scrollbar-thumb:hover{
	background: #555;
}
.shopbtn{
	position: absolute;
	left: 5%;
	border: none;
	top: 5%;
	transform: translate(-50%, -50%);
	background-color: #00000000;
	color: white;
}
.storymode{
	display: none;
	width: 100%;
	height: 100%;
}
.nameselect{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	width: 100%;
}
.lettgroup{
	margin: 40px;
}
.lett{
	cursor: pointer;
	font-size: 35px;
	margin: 0px 4px;
	font-weight: 900;
	/*animation: shake 300ms infinite;*/
}
.lett:hover, .confirm:hover, .notconfirm:hover{
	color: yellow;
}
.namedisplay{
	color: white;
	background-color: #00000000;
	cursor: default;
	border: none;
	width: 100%;
	text-align: center;
	font-size: 30px;
}
.namedisplay::placeholder{
	color: grey;
}
.lettsel{
	color: yellow;
}
.nameconfirm{
	width: 100%;
	height: 100%;
	display: none;
}
.nameconfirm h1{
	font-weight: 100;
}
.confirm, .notconfirm{
	cursor: pointer;
	margin: 0px 10px;
	font-size: 35px;
}
.map{
	display: none;
}
.speakcontainer{
	z-index: 100;
    position: absolute;
    padding: 25px;
    bottom: 5%;
    left: 50%;
    font-size: 30px;
    border: 5px solid white;
    width: 80%;
    background-color: black;
    height: 15%;
	transform: translate(-50%, 0%);
	display: none;
}
.speakcontainer img{
	max-width: 100px;
}
.map > .snowy{
    top: 40%;
    position: absolute;
	transform: translate(0px, -50%);
}
.map > .snowy img{
	max-width: 40px;
}
.fightarea{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: black;
	z-index: 10;
}
.fightarea .icon{
	top: 10%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
}
.fightarea .icon img{
	max-width: 100px;
}
.fightarea .fightbox{
	border: 5px solid greenyellow;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 30%;
	height: 30%;
	transform: translate(-50%, -50%);
	transition: width 1s;
	text-align: left;
	font-size: 20px;
}
.fightarea .fightopt:hover{
	cursor: pointer;
	color: yellow;
}
.fightarea .fightbar{
	bottom: 0;
	position: absolute;
	width: 100%;
	left: 0;
	padding: 20px 0px;
}
.fightarea .fightbarbtn{
	border: 5px solid #ff9900;
    width: 100px;
    margin: 0px 50px;
    padding: 10px 20px;
    cursor: pointer;
    color: #ff9900;
    font-size: 25px;
	font-weight: 700;
	text-align: center;
}
.fightarea .fightbarbtn:hover{
	border-color: yellow;
	color: yellow;
}
.fightarea .fightpunchbtn{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	text-align: center;
    color: #ff9900;
    cursor: pointer;
	border: 5px solid #ff9900;
	font-weight: 700;
	padding: 10px;
}
.fightarea .fightpunchbtn:hover{
	border-color: yellow;
	color: yellow;
}
.fightarea .fightpunchbtn{
	animation: scale 500ms infinite;
	transform-origin: left top;
}
.fightarea .enemyhpbar{
	width: 100px;
	height: 25px;
	background-color: red;
	text-align: left;
}
.fightarea .enemyhpbarline{
	width: 100%;
	transition: all 500ms;
	height: 25px;
	background-color: greenyellow;
}
.soul img{
	max-width: 20px;
}
.dialogspeak{
	color: black;
    position: absolute;
    left: 100px;
    background-color: white;
    padding: 10px;
	border-radius: 5px;
	width: 100px;
	height: fit-content;
}
.snowybullet{
	position: absolute;
}
.snowybullet img{
	max-width: 20px;
	animation: rotation 500ms infinite;
}
.powerfulsnowybullet{
	position: absolute;
}
.powerfulsnowybullet img{
	max-width: 500px;
    animation: rotation 100ms infinite;
    transform: translate(-50%, -50%);
    transform-origin: top left;
}
@keyframes rotation{
	0%{
		rotate: 0deg;
	}
	100%{
		rotate: 360deg;
	}
}
@keyframes scale{
	0%{
		scale: 1;
	}
	50%{
		scale: 1.5;
	}
	100%{
		scale: 1;
	}
}
@keyframes shake{
	25%{
		transform: translate(1px, 1px);
	}
	50%{
		transform: translate(1px, -1px);
	}
	70%{
		transform: translate(-1px, -1px);
	}
	100%{
		transform: translate(-1px, 1px);
	}
}
@keyframes twinkling{
	0%{
		opacity: 1;
	}
	50%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
/*
@media screen and (orientation: portrait) {
	body {
		transform: rotate(-90deg) translate(-50%, -50%);
		height: 100vw;
		width: 100vh;
		position: absolute;
		left: 0;
		top: 0;
	}
}
*/
