body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    user-select: none;
    background-color: #000000;
    color: white;
}
input{
    outline: none;
}
#homepage{
    background-color: #000000;
    width: 100vw;
    height: 100vh;
    position: relative;
}
#homepage h1{
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, 0%);
    padding: 10px;
}
#homepage div{
    position: absolute;
    right: 30%;
    top: 22%;
    transform: translate(-50%, 0%);
    transform: rotateZ(25deg);
    padding: 10px;
    animation: twinkling 3s infinite;
    color: yellow;
}
#startremind{
    font-size: 20px;
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, 0%);
    padding: 10px;
    animation: twinkling 2s infinite;
}
#startbtn{
    position: absolute;
    right: 5%;
    top: 5%;
    transform: translate(-50%, -50%);
}
#spriteselect{
    background-color: #000000;
    height: 100vh;
    width: 100vw;
}
.sprite{
    display: inline-block;
    position: absolute;
}
#sprite{
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.sprite img{
    max-width: 55px;
}
#sprite img{
    max-width: 25px;
}
#warrior.sprite{
    left: 50%;
    top: 50px;
    transform: translate(-50%, 0%);
}
#magician.sprite{
    left: 30%;
    top: 50px;
    transform: translate(-50%, 0%);
}
.spriteinfo{
    display: none;
    height: 100vh;
    width: 100vw;
    position: relative;
}
.spriteinfo > h1{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    top: 10%;
}
.spriteinfo > div{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.spriteinfo > img{
    max-width: 50px;
}
.spriteinfo > input{
    position: absolute;
    bottom: 1%;
    left: 50%;
    color: white;
    background-color: #F2B024;
    border: 5px solid #FCDA00;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    transform: translate(-50%, -50%);
}
#generateoption{
    width: 100vw;
    height: 100vh;
}
#shop{
    display: none;
}
#gamearea{
    display: none;
}
#fightarea{
    display: none;
}
#warning{
    display: none;
    background-color: #000000;
    height: 100vh;
    width: 100vw;
}
@keyframes twinkling{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.scene{
    width: 100vw;
    height: 100vh;
}
.blockgroup{
    display: inline-grid;
}
.block{
    display: inline-block;
}
.block img{
    max-width: 25px;
}
