html{
	font-family: Arial, Helvetica, sans-serif;
	overflow: hidden;
	user-select: none;
	color: white;
	background-color: #000000;
}
body{
	margin: 0;
}
div{
	display: inline-block;
}
input{
	outline: none;
}
input[type='button'], label{
	cursor: pointer;
}
a{
	color: blue;
}
.homepage{
	background-color: #000000;
	width: 100vw;
	height: 100vh;
	position: relative;
}
.homepage h1{
	position: absolute;
	left: 50%;
	top: 10%;
	transform: translate(-50%, 0%);
	padding: 10px;
	text-align: center;
	width: 100vw;
}
.homepage .update{
	/*
	position: absolute;
	right: 25%;
	top: 25%;
	transform: translate(-50%, 0%);
	transform: rotateZ(25deg);
	*/
	padding: 10px;
	animation: twinkling 3s infinite;
	color: yellow;
	font-size: 20px;
	font-weight: 100;
	display: block;
}
.homepage label{
	position: absolute;
	right: 0;
	top: 0;
}
.startremind{
	font-size: 20px;
	position: absolute;
	left: 50%;
	bottom: 5%;
	transform: translate(-50%, 0%);
	padding: 10px;
	animation: twinkling 2s infinite;
}
.startbtn{
	position: absolute;
	right: 5%;
	border: none;
	top: 5%;
	transform: translate(-50%, -50%);
	background-color: #00000000;
	color: white;
}
.entityselect{
	background-color: #000000;
	height: 100vh;
	width: 100vw;
	display: none;
}
.entity{
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}
.entityselect .entity img{
	cursor: pointer;
	max-width: 55px;
}
.entity img{
	max-width: 25px;
	position: absolute;
}
.entity div.weapon{
	translate: 15px 5px;
	transform-origin: left center;
}
.warrior.entity{
	left: 50%;
	top: 50px;
	transform: translate(-50%, 0%);
}
.magician.entity{
	left: 30%;
	top: 50px;
	transform: translate(-50%, 0%);
}
.entityinfo{
	display: none;
	height: 100vh;
	width: 100vw;
	position: relative;
	background-color: black;
}
.entityinfo > h1{
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	top: 10%;
}
.entityinfo .info{
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.entityinfo .power{
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.entityinfo > img{
	max-width: 50px;
}
.entityinfo > input{
	position: absolute;
	bottom: 1%;
	left: 50%;
	color: white;
	background-color: #F2B024;
	border: 5px solid #FCDA00;
	font-size: 20px;
	padding: 10px 20px;
	border-radius: 10px;
	transform: translate(-50%, -50%);
}
.generateoption{
	width: 100vw;
	height: 100vh;
	display: none;
}
.shop{
	display: none;
}
.gamearea{
	display: none;
}
.fightarea{
	display: none;
}
.warning{
	display: none;
	background-color: #000000;
	height: 100vh;
	width: 100vw;
}
@keyframes twinkling{
	0%{
		opacity: 1;
	}
	50%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.scenecontainer{
	width: 100vw;
	height: 100vh;
	position: relative;
}
.scene{
	width: fit-content;
	height: fit-content;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
}
.blockgroup{
	display: inline-grid;
}
.block{
	display: inline-block;
}
.block img{
	max-width: 25px;
}
.entityinfoinfight{
	left: 0;
	top: 0;
	position: absolute;
	z-index: 1;
	display: none;
	background-color: orange;
	padding: 10px;
}
.hp, .mp{
	display: block;
}
.hpprogress{
	border: 1px dashed white;
	width: 100px;
	background-color: grey;
}
.hpprogress .bar{
	width: 100%;
	background-color: red;
	text-align: center;
	transition: width 0.5s;
}
.mpprogress{
	border: 1px dashed white;
	width: 100px;
	background-color: grey;
}
.mpprogress .bar{
	width: 100%;
	background-color: blue;
	text-align: center;
	transition: width 0.5s;
}
.weapon{
	position: absolute;
}
.gunbullet{
	position: absolute;
}
.gunbullet img{
	max-width: 25px;
}
input[type='file']{
	display: none;
}
.homepage .push{
	width: 100vw;
	height: 100vh;
}
.homepage .mode{
	position: absolute;
	width: 100vw;
	height: 100vh;
	vertical-align: bottom;
	position: relative;
}
.homepage .mode .container{
	bottom: -100px;
	position: absolute;
	width: 100vw;
	transition: all 1s;
	text-align: center;
	display: none;
}
.homepage .mode .container input{
	background-color: #00000000;
	border: none;
	color: white;
	font-size: 20px;
}
.homepagesecret input{
	position: absolute;
	background-color: #00000000;
	border: none;
	color: white;
}
.homepage .settingpagebtn{
	left: 0;
	top: 0;
}
.homepage .uploadpagebtn{
	right: 0;
	top: 0;
}
.uploadpage{
	display: none;
}
.backtohomepage{
	background-color: #00000000;
	color: white;
	border: none;
}
.settingpage{
	display: none;
}
.delete{
	color: red;
	cursor: pointer;
}
.mobilecontrol{
	position: absolute;
	bottom: 0;
	width: 100vw;
	display: none;
	z-index: 100;
}
.homepagesecret{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
}
.bottombar{
	width: 100vw;
	height: 100vh;
	position: relative;
	text-align: center;
	z-index: 1;
	display: none;
}
.bottombar .tips{
	vertical-align: super;
}
.bottombar .weapon{
	bottom: 0;
	position: absolute;
	text-align: center;
	vertical-align: text-bottom;
	transform-origin: center center;
	transform: translate(-50%, -50%);
}
.bottombar .weapon .box{
	border: 2.5px solid white;
	margin: 0px 10px;
}
.bottombar .weapon .box .after{
	background-color: blue;
	position: absolute;
	top: -10px;
	border-radius: 100px;
	padding: 4px;
}
.bottombar .weapon .box:nth-of-type(2){
	border: 5px solid white;
	margin: 0px 10px;
}
.bottombar .weapon .box img{
	min-height: 25px;
	max-height: 25px;
}
.thanksbtn{
	position: absolute;
	bottom: 0;
	right: 0;
}
.thanksname{
	position: absolute;
}
.diedpage{
	display: none;
	position: absolute;
	left: 0;
	top: 0;
}
@media screen and (orientation: portrait) {
	html {
		/* Rotate the content container */
		transform: rotate(-90deg);
		transform-origin: left top;
		/* Set content width to viewport height */
		width: 100vh;
		/* Set content height to viewport width */
		height: 100vw;
		overflow-x: hidden;
		position: absolute;
		top: 100%;
		left: 0;
	}
}
.cmdgenbtn{
	position: absolute;
	left: 0;
	top: 0;
	background-color: black;
	color: white;
	border: none;
}
